#karshenas-footer{
    direction: rtl;
}
@media only screen and (max-width:528px){
    #karshenas-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}